body{
    font-size: 14px;
}

.blog-masthead{
    background-color: #b34848;
}

h1, h2,h3, .blog-post-title{
    color : #b34848;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
    text-decoration: underline;
}